<div class="container-fluid">  
  <nav id="navbar" class="navbar navbar-expand-sm navbar-dark bg-dark">    
    <a href="/" class="navbar-brand">Mini-Netflix</a>    
    <button class="navbar-toggler" id="be" data-toggle="collapse" data-target="#navmenu">    
      <span class="navbar-toggler-icon" ></span>    
      </button>    
      <div class="collapse navbar-collapse" id="navmenu" >     
        <ul class="navbar-nav ml-auto ">           
          <li class="nav-item"><a class="nav-link" href="#">Most Viewed</a></li>     
          <li class="nav-item"><a class="nav-link" href="#">Top Rated</a></li>      
          <li class="nav-item"><a class="nav-link" href="#">Upcoming</a></li>      
          <li class="nav-item"><a class="nav-link" href="#">Favourites <i style="color:red" class="fa fa-star"></i> 0</a></li>     
            </ul> </div>       </nav>  </div>