/* Add application styles & imports to this file! */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');



body {
  background-color: rgb(17, 38, 95);
  color: black;

}
h1 {
  text-align: center;
}
